<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<header th:replace="fragments/menu :: menu"/>
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" th:action="@{/accounts/login-club}" th:object="${login}" method="post">
                <div class="form-group">
                    <label path="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" th:value="*{username}" th:errorclass="fieldError">
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errors alert alert-danger col-sm-offset-2 col-sm-10">
                    Incorrect Username
                </p>

                <div class="form-group">
                    <label path="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" th:value="*{password}" th:errorclass="password">
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors alert alert-danger col-sm-offset-2 col-sm-10">
                    Incorrect Password
                </p>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login as Club</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>