<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"/>
<body>
<header th:replace="fragments/menu :: menu"/>
<div class="container">
    <div class="text-center">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center" th:text="${club.address}"></h1>
        <h3 class="mr-3 pr-3 align-top border-right inline-block align-content-center"
            th:text="|E-mail: ${club.email}|"></h3>
        <h3 class="mr-3 pr-3 align-top border-right inline-block align-content-center"
            th:text="|Capacity: ${club.capacity}|"></h3>
        <h3 class="mr-3 pr-3 align-top border-right inline-block align-content-center"
            th:text="|Entrance fee: ${club.entranceFee} lv.|"></h3>

        <h3 class="mr-3 pr-3 align-top border-right inline-block align-content-center"
            th:text="|Entrance fee: ${club.entranceFee} lv.|"></h3>


        <ul sec:authorize="hasAuthority('CUSTOMER')">
            <form class="form-horizontal" th:action="@{~/ratings/create-rating/clubs/} + ${club.id}" method="get">
                <button type="submit" value="Submit" class="btn btn-primary">Create New Rating</button>
            </form>
        </ul>

        <ul sec:authorize="hasAuthority('CLUB')">
            <form class="form-horizontal" th:action="@{~/events/create-event}" method="get">
                <button type="submit" value="Submit" class="btn btn-primary">Create New Event</button>
            </form>
        </ul>

        <ul>
            <form class="form-horizontal" th:action="@{~/ratings/clubs/} + ${club.id}" method="get">
                <button type="submit" value="Submit" class="btn btn-primary">View All Club Ratings</button>
            </form>

            <form class="form-horizontal" th:action="@{/events/clubs/} + ${club.id}" method="get">
                <button type="submit" value="Submit" class="btn btn-primary">View All Club Events</button>
            </form>
        </ul>
    </div>
</div>
</body>
</html>