<header th:fragment="menu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" href="/">Club Hub</a>

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbars" aria-controls="navbars"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
            <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login">Login</a>
                </li>
            </ul>
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/clubs/all">Clubs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>