<header th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" href="/">Club Hub</a>

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbars" aria-controls="navbars"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="accounts/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>